<h1>Add a celebrity!</h1>

<form action="/celebrity/add" method="post">
  Name: <input type="text" name="name"><br>
  occupation: <input type="text" name="occupation"><br>
  catchPhrase:: <input type="text" name="catchPhrase"><br>
  <button>Add celebrity!</button>
</form>

<a href="/celebrities">Go to Celebrities!</a>