<h1>Here is the id for celebrities!</h1>

<h2>{{celebrity.name}} </h2>

<h2>{{celebrity.occupation}} </h2>

<h2>{{celebrity.catchPhrase}} </h2>


<p>
<a href="/celebrities">Go back to Celebrities</a>
</p>

<p>
<a href="/celebrities/{{celebrity._id}}/edit">Eddit a celebrity</a>
</p>