<h1>Eddit Me!</h1>



<form action="/celebrities/{{celebrities._id}}" method="post">
  Name: <input type="text" name="name" value="{{celebrities.name}}"><br>
  occupation: <input type="text" name="occupation" value="{{celebrities.occupation}}"><br>
  catchPhrase: <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}"><br>
  <button>Eddit Celebrity</button>
</form>

