<h1>Just one movie!</h1>

<h2>{{movie.title}} </h2>

<h2>{{movie.genre}} </h2>

<h2>{{movie.plot}} </h2>


<p>
<a href="/movies">Go back to Movies</a>
</p>

<p>
<a href="/movies/{{movie._id}}/edit">Eddit a movie</a>
</p>